@font-face {
    font-family: 'Gerstner BQ';
    src: url('GerstnerBQ-Light.woff2') format('woff2'),
        url('GerstnerBQ-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

