html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

@font-face {
  font-family: "Gerstner BQ";
  src: url("GerstnerBQ-Light.woff2") format("woff2"),
    url("GerstnerBQ-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

img {
  display: block;
  width: 100%;
  opacity: 0;
}

div {
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > div {
  width: 50%;
}

svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

div {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#Img1 {
  background-image: url(../images/a.jpg);
}
#Img2 {
  background-image: url(../images/b.jpg);
}
#Img3 {
  background-image: url(../images/c.JPG);
}
#Img4 {
  background-image: url(../images/d.jpg);
}
#Img5 {
  background-image: url(../images/e.jpg);
}
#Img6 {
  background-image: url(../images/f.jpg);
}
#Img7 {
  background-image: url(../images/g.jpg);
}
#Img8 {
  background-image: url(../images/h.jpg);
}
#Img9 {
  background-image: url(../images/i.jpg);
}

#feather div {
  outline: 25px solid #fff;
  box-shadow: var(--in) var(--in) var(--in) 10px white inset,
    var(--inNeg) var(--inNeg) var(--in) 10px white inset;
  animation-name: inout;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: transform 4s;
  /*mix-blend-mode: multiply;*/
  will-change: transform, box-shadow;
}

@keyframes inout {
  0% {
    box-shadow: var(--in) var(--in) var(--in) 10px white inset,
      var(--inNeg) var(--inNeg) var(--in) 10px white inset;
  }
  50% {
    box-shadow: var(--out) var(--out) var(--out) 10px white inset,
      var(--outNeg) var(--outNeg) var(--out) 10px white inset;
  }
  100% {
    box-shadow: var(--in) var(--in) var(--in) 10px white inset,
      var(--inNeg) var(--inNeg) var(--in) 10px white inset;
  }
}

h1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  font-size: 1rem;
  font-family: "Gerstner BQ";
}
